body {
  background: white;
  color: #333;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

.logo {
  display: block;
  max-width: 256px;
  width: 50%;
  margin: 0 auto;
}

.loading {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}

.uploading {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.2;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20%;
}

.heart {
  color: red;
}

.header, .upload_message, .confirm_message, .complete_message { text-align: center; font-size: .8em; }

.complete_message { margin: 2em auto; font-size: 1.5em; }

body:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 3em;
  background-image: url(/images/upload/line.png);
  background-size: contain;
  opacity: 0.5;
}

#file_selector, #button_upload {
  display: block;
  margin: .5em auto;
  font-size: 1em;
  border: 1px solid #333;
}

#src_keeper {
  display: block;
  margin: 1em auto;
  max-width: 256px;
  width: 80%;
}